/* Obecné */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container-slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


/* Levá část - texty barvy */

.left-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100vh;
    transition: transform .5s linear;
}

.left-slider > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.left-slider h2 {
    margin-bottom: 10px;
    margin-top: -40px;
    font-size: 40px;
}

.color-1-side {
    background-color: #45a8bc;
}

.color-2-side {
    background-color: #2a86ba;
}

.color-3-side {
    background-color: #252e33;
}

.color-4-side {
    background-color: #e98e3f;
}

/* Pravá část - obrázky */

.right-slider {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100vh;
    transition: transform .5s linear;
}

.right-slider > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.img-1 {
    background-image: url(img/obr1.jpg);
}
.img-2 {
    background-image: url(img/obr2.jpg);
}
.img-3 {
    background-image: url(img/obr3.jpg);
}
.img-4 {
    background-image: url(img/obr4.jpg);
}

/* Ikonky šipek */

.arrow-btns .arrow {
    position: absolute;
    z-index: 100;
    left: 35%;
    top: 50%;
}

.arrow img {
    width: 50px;
}

.arrow-down img {
    transform: translateX(-100%);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.arrow-up img {
    transform: translateY(-100%);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.arrow-down img:hover {
    border: 1px solid #000;
}

.arrow-up img:hover {
    border: 1px solid #000;
}
